@import "tailwindcss";

@theme {
  --color-bg: #76C457;
  --color-text-primary: #10200C;
  --color-text-secondary: #29451F;
  --color-text-white: #F7FFF4;
  --color-border: #347F10;
  --color-button: #10200C;
  --color-button-text: #FFFFFF;
  --color-cards: #EAF7E4;
  --font-jura: "Jura";
  --font-jura-semibold: "JuraSemiBold";
}

@font-face {
  src: url("/fonts/jura/Jura-Regular.woff2") format("woff2");
  font-family: "Jura";
}

@font-face {
  src: url("/fonts/jura/Jura-SemiBold.woff2") format("woff2");
  font-family: "JuraSemiBold";
}
